:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --background-icons: #FAFAFA;

    --mistake-label: #D25050;
    --mistake--field: #FFF9F9;
}
* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Quicksand', sans-serif;
}
.navbar {

    width: 100%;
    height: 54px;
    padding: 0 24px;

    display: none;
    justify-content: space-between;
    align-items: center;
}
.navbar__left-list {
    display: flex;
    gap: 16px;
    margin-left: 54px;
    margin-right: auto;
}
.navbar__rigth-list {
    display: flex;
    gap: 28px;
    align-items: center;
}
.navbar__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: var(--very-light-pink);
    
}
.navbar__link:hover {
    color: var(--hospital-green);
}
.navbar__link--acent {
    color: var(--hospital-green);
}
.navbar__link--active {
    color: var(--hospital-green);
    border: solid 1px var(--hospital-green);
    border-radius: 8px;
    padding: 4px 8px;
}
.form-container {
    height: 100vh;
    width: 100%;

    display: flex;
    gap: 56px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-login {
    width: 100%;
    padding: 0 16px;

    display: flex;
    gap: 24px;
    flex-direction: column;
    align-content: center;
}
.form-login__image{
    height: 36px;
}

.form-login__label-title, .form-login__label-subtitle, .form-login__text {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--very-light-pink);
}
.form-login__label-title{
    font-size: 18px;
    font-weight: 700;
    color: var(--black);
}
.form-login__text{
    color: var(--black);
}
.form-login__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    
    width: 150px;
    height: 145px;
    border-radius: 50%;
    background-color: var(--background-icons);
}
.form-login__label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    margin-bottom: 6px;
}
.form-login__label--mistake{
    color: var(--mistake-label);
}
.form-login__input{
    height: 38px;
    width: 100%;

    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    padding: 0 12px;

}
.form-login__input--mistake{
    background-color: var(--mistake--field);
    border: 1px solid var(--mistake-label);
}

.button-initial {
    height: 38px;
    
    color: black;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    
    background-color: var(--white);
    cursor: pointer;
    border-radius: 8px;
    border: none;
}
.button-primary {
    background-color: var(--hospital-green);
    color: var(--white);
}
.button-secondary {
    background-color: var(--white);
    color: var(--hospital-green);
    border: solid 1px var(--hospital-green);
}
.form-login__button-bottom {
    position: absolute;
    bottom: 26px;
    left: 16px;
    right: 16px;
}
.alert-mistake{
    visibility: visible;
    text-align: center;
    color: var(--mistake-label);
    font-size: 14px;
    font-weight: 500;
}
.link {
    text-decoration: none;
    color: var(--hospital-green);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.link:hover {
    text-decoration: underline;
}
@media screen and (min-width: 425px) {
    .form-login {
        width: 400px;
    }
    .form-login__button-bottom {
        position: initial;
    }
}
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
    } 
    .form-container {
        height: calc(100vh - 54px);
    } 
}